/* :root {
    --red: #f9032f;
    --black: #000;
    --white:#fff;
} */

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/*/////////// HEADER ///////////*/

/* HEADER CSS */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(5, 11, 38, 0.055),rgba(4,9,30,0.7)),url(images/technology-6701504.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
}

.navigation_bar {
    background-color: rgba(255, 255, 255);  /*0.833*//* Transparent white */
    padding: 15px 25px; 
    position: fixed; 
    width: 100%; /* Full width */
    top: 0; 
    left: 0; 
    z-index: 1000; /* Layers/Ensuring it is above other elements */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Optional shadow for better visibility */
    border-bottom: 1px solid #ccc;
}

/*Logo*/
nav img{
    width: 150px;
    padding-right: 20px;
}

.navbar_menu{
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}



.navbar_link{
    flex: 1;
    text-align: left;
    padding-left: 0.3cm; 
    color: #007ec2;
    text-decoration: none;
    display: inline-block;
}

.navbar_link_dropdown{
    flex: 1;
    text-align: left;
    padding-left: 0.3cm; 
    color: #007ec2;
    text-decoration: none;
    display: inline-block;
}

.navbar_link::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #007ec2;
    display: block;
    margin: auto;
    transition: 0.5s;
}
 
.navbar_link:hover::after{
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    padding: 50px; 
}

.dropdown-content a {
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: 300;
    color:#1A1E41;
    border-radius: 9px;
    width: 100%;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background: #007ec2;
    color: #fff;
}

.navbar_link_dropdown:hover .dropdown-content {
    display: block;
}

/* NAVBAR DETAILS SECTION DESIGN CSS */

.menu-dropdown-column{
    width: 30%;
    padding: 0 15px;
}

.menu-dropdown-row{
    display: flex;
    flex-wrap: wrap;
}

.nav-vertical-line{
    border-left: 1px solid #007ec2;
    height:auto;
}

.nav-details {
    display: none;
    width: 100%;
}

.nav-details header{
    font-size: 25px;
    margin-left: 10px;
    color: #1A1E41;
    font-weight: 400;
}

.nav-details p{
    width: 100%;
}
.nav-details.active {
    display: block;
}
/* Contact Button */

.contactbutton-container{
    margin-right: 0;
    padding-right: 15px;
}

.contact_button {
    background-color: #007ec2; 
    color: #fff; 
    padding: 10px 20px; /* Button padding */
    text-decoration: none; /* to Remove underline */
    border: 2px solid #fff;
    border-radius: 5px; /* Rounded corners */
    position: fixed;
    right: 50px;
    bottom: 50px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease; /* Smooth background transition */
}

.contact_button:hover {
    background-color: #fff;
    color: #007ec2;
}

.contactbutton-mobile{
    display: none;
}
 /* TOP OF THE HERO SECTION */
.text_box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.text_box h1{
    font-size: 62px;
    margin: 10px 0 40px;
}

.hero_btn{
    text-decoration: none;
    background-color: #fff;
    color: #007ec2;
    font-size: 13px;
    cursor: pointer;
    padding: 10px 20px; /* Button padding */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s ease;
    position: relative;
}

.hero_btn:hover {
    background-color: #007ec2;
    color: #fff;
}

.menu-icon {
    display: none;
}

.close-icon {
    display: none;
}

@media(max-width: 700px){
    .text_box h1{
        font-size: 40px;
    }

    .navbar_menu {
        display: block;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background: #007ec2;
        z-index: 100;
        padding-top: 10px; 
        text-decoration: none;
        transition: 1s;
        padding: 20px;
    }

    .navbar_menu.active{
        right: 0;
    }

    .dropdown-content{
        display: none;
        position: relative;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        max-height: 50vh; /* Set a max height for scrolling */
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .navbar_link {
        display: block;
        color: #fff;
        padding: 15px;
        text-align: left;
        text-decoration: none;
        transition: 1s;
    }

    .navbar_link.active + .dropdown-content {
        display: block;
    }
   
    .nav-details.nav-details.active{
        display: none;
    }

    .close-icon{
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        top: 15px;
        right: 15px;
        z-index: 3;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #007ec2;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 3;
    }

    /* FIXING THE MENU BAR FOR MOBILE */
    .nav-details{
        display: none;
    }

    .nav-vertical-line{
        display: none;
    }

    .menu-dropdown-column{
        width: 100%;
        padding: 1px;
    }

    .dropdown-content {
        width: 100%;
        padding: 12px; 
    }    

    /* Contact Button Mobile */
.contactbutton-container{
    display: none;
}

.contact_button{
    display: none;
}

.contactbutton-mobile {
    background-color: #007ec2;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 2px solid #fff;
    display: flex; /* Change from block to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.contactbutton-mobile .fa-envelope {
    color: #fff;
    font-size: 24px; /* Ensure the icon is properly sized */
}

}

/* SERVICES OFFERED: HERO PAGE */

.something-offered{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.first-section-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.first-section-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.first-section-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* 2nd section : Hero page */

.second-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.second-section-col{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 3 / 4;
}

.second-section-col img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 3 / 4; /* Height is greater than width */
}

.layer{
    background-color: #007ec29f;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background-color: rgba(255, 255, 255, 0.752);
}

.layer h3{
    color: #fff;
    margin-top: 30%;
    transition: 0.5s;
}

.layer:hover h3{
    color: #1A1E41;
    display: none;
}

.layer p{
    color: #fff;
    transition: 0.5s;
}

.layer:hover p{
    color: #1A1E41;
    display: none;
}

.layer a{
    text-decoration: none;
    background-color: #007ec2;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    padding: 10px 20px; /* Button padding */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}

.layer:hover a{
    bottom: 50%;
    opacity: 1;
}
/* Partners section: hero page */

.partners-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.logos-slider {
    overflow-x: hidden;
    padding-top: 50px;
}

.overflow {
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
}

.logos-wrapper{
    display: flex;
    justify-content: space-around;
    animation: LogoLoop 50s linear infinite;
}

.logo-item{
    margin-left: 1rem;
    padding: 1rem;
    aspect-ratio: 30/9;
    display: grid;
    place-items: center;
    border-radius: 1rem;
}

.logo-item img{
    height: 1.5rem;
    margin-inline: 2rem;
}

@keyframes LogoLoop {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Third section: Home page */

.third-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.third-section-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.third-section-col img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* Testimonials : Home page */

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.testimonials-col{
    flex-basis: 44%; /*it kind of represents the width of the column, 44% was used because we only have 2 columns this time*/
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    aspect-ratio: 1 / 1
}

.testimonials-col p{
    padding: 0;
}

.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}

/* CALL TO ACTION : HOME PAGE */

.cta{
    margin: 100px auto;
    width: 80%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/sirisvisual-bJJRFhq5Iuk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-top: 100px;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.cta .contact_button{
    color: #fff;
    border-color: #fff;
}

.cta .contact_button:hover{
    border-color: #007ec2;
}

/* ///////// FOOTER //////// */

.container{
    max-width: 1170px;
    background-color: #1A1E41;
    margin: auto;
}

/* .row{
    display: flex;
    flex-wrap: wrap;
} */

ul{
    list-style: none;
}

.footer{
    background-color: #1A1E41;
    padding: 10px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff ;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a{
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb ;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #007ec2;
}

.logo{
    width: 200px;
}

.social-container{
    width: 200px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.833);
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #1A1E41;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: rgba(255, 255, 255, 0.833);
    background-color: #007ec2;
}

.continuation{
    margin-top: 63px;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 30px auto;
}

.copyrights{
    text-align: center;
    color: rgba(255, 255, 255, 0.833);
    font-weight: 300;
    font-size: 12px;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
    .continuation{
        margin-top: 0px;
    }
}


/* --------------------------------- */
/* //////////// PRODUCTS /////////// */
/* --------------------------------- */


/*************   ESG    **************/

.esg-header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(220, 231, 255, 0.8),rgba(225, 231, 255, 0.1)),url(/images/Headers/Q3CGPDBGSZAJBKOGIDVPA7DRJQ.jpg);
    background-position: center;
    background-size:cover;
}

.esg-header h1{
    width: 60%;
    font-size: 100px;
    padding-top: 100px;
    padding-left: 70px;
    color:#1A1E41 ;
}

.esg-header p {
    width: 60%;
    padding-left: 74.5px;
    margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
    color: #1A1E41;
}

.info p {
    width: 90%;
    font-size: 16px;
    color:black ;
    padding: 50px;
    padding-left: 70px;
    padding-bottom: 0%;
}

.statistics{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.esg-boxes p{
    text-align: left;
}
.statistics h3{
    text-align: left;
    padding-left: 10px;
}

/*********** SUPPLY CHAIN ************/

.supply-chain-header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(220, 231, 255, 0.8),rgba(225, 231, 255, 0.1)),url(/images/Headers/iain-kennedy-hz74ZBiJdr8-unsplash.jpg);
    background-position: center;
    background-size:cover;
}

.supply-chain-header h1{
    width: 60%;
    font-size: 100px;
    padding-top: 100px;
    padding-left: 70px;
    color:#1A1E41 ;
}

.supply-chain-header p {
    width: 60%;
    padding-left: 74.5px;
    margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
    color: #fff;
}

@media (max-width: 700px){
    .supply-chain-header h1{
        width: auto;
        font-size: 70px;
        padding-left: 40px;
    }
    
    .supply-chain-header p {
        width: 100%;
        padding-left: 44.5px;
    }
}

/************  AI ERD  ************/

.aierp-header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 23, 73, 0.8),rgba(225, 231, 255, 0.1)),url(/images/Headers/pexels-tara-winstead-8386440.jpg);
    background-position: center;
    background-size:cover;
}

.aierp-header h1{
    width: 60%;
    font-size: 100px;
    padding-top: 100px;
    padding-left: 70px;
    color: #fff; ;
}

.aierp-header p {
    width: 60%;
    padding-left: 74.5px;
    margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
    color: #fff;
}

.section-title-box{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

 /* CMS + E-COMMERCE SECTIONS */
.cms, .e-commerce{
    width: 100%;
    height: auto;
    background-color: #1A1E41;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.cms h3, .e-commerce h3{
    color: #fff;
    font-weight: 300;
    font-size: 60px;
    width: 32%;
}

.cms .nav-vertical-line, .e-commerce .nav-vertical-line{
    border-left: 1px solid #fff;
}

.cms p, .e-commerce p{
    color: #fff;
    padding-left: 20px;
    font-weight: 200;
}

 /* CRM + WORKFORCE MANAGEMENT SECTIONS */
 .crm, .workforce-management{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.crm h3, .workforce-management h3{
    color: #1A1E41;
    font-weight: 300;
    font-size: 60px;
    width: 32%;
}

.crm .nav-vertical-line, .workforce-management .nav-vertical-line{
    border-left: 1px solid #1A1E41;
}

.crm p, .workforce-management p{
    color: #1A1E41;
    padding-left: 20px;
    font-weight: 300;
}

@media (max-width: 700px){

    .aierp-header h1{
        width: auto;
        font-size: 70px;
        padding-left: 40px;
    }
    
    .aierp-header p {
        width: 100%;
        padding-left: 44.5px;
    }

    .cms, .e-commerce{
        width: 100%;
        height: auto;
        background-color: #1A1E41;
        display: flex;
        flex-direction: column;
    }

    .cms h3, .e-commerce h3{
        font-size: 40px;
    }
    
    .cms .nav-vertical-line, .e-commerce .nav-vertical-line{
        display: none;
    }

    .crm, .workforce-management{
        width: 100%;
        height: auto;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
    }

    .crm h3, .workforce-management h3{
        font-size: 40px;
    }
    
    .crm .nav-vertical-line, .workforce-management .nav-vertical-line{
        display: none;
    }
}

/*********** CYBER SECURITY PAGE **********/

.cybersec-header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 23, 73, 0.8),rgba(225, 231, 255, 0.1)),url(/images/Headers/flyd-zAhAUSdRLJ8-unsplash.jpg);
    background-position: center;
    background-size:cover;
}

.cybersec-header h1{
    width: 60%;
    font-size: 100px;
    padding-top: 100px;
    padding-left: 70px;
    color: #fff;
}

.cybersec-header p{
    width: 60%;
    padding-left: 74.5px;
    margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
    color: #fff;
}

@media (max-width: 700px){
    .cybersec-header h1{
        width: auto;
        font-size: 70px;
        padding-left: 40px;
    }
    
    .cybersec-header p {
        width: 100%;
        padding-left: 44.5px;
    }
}

/************* SDK & DEVTOOLS *************/

.sdkdevtools-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between text and image */
    padding: 20px;
}

.sdkdev-text h1{
    width: 100%;
    font-size: 70px;
    padding-top: 100px;
    padding-left: 70px;
}

.sdkdev-text p{
    width: 100%;
    padding-left: 73px;
    margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
}

.sdkdevtools-header img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 100px;
    padding-top: 50px;
}

.info h3{
    font-size: 20px;
    font-weight: 600;
    padding-top: 70px;
    padding-left: 70px;
    margin-bottom: -25px;
}

@media (max-width: 700px){
    .sdkdevtools-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ensure space between text and image */
        padding: 10px;
    }
    
    .sdkdev-text h1{
        width: 100%;
        font-size: 60px;
        padding-top: 100px;
        padding-left: 20px;
    }
    
    .sdkdev-text p{
        width: 100%;
        padding-left: 23px;
        margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
        font-size: 18px;
    }

    .sdkdevtools-header img{
        width: 300px;
        height: 300px;
        display: flex;
        object-fit: cover;
        margin-right:0;
        padding-top: 50px;
    }

    .info h3{
        font-size: 20px;
        font-weight: 600;
        padding-top: 70px;
        padding-left: 30px;
        margin-bottom: -25px;
    }

    .info p{
        padding-left: 40px;
    }
}

/* --------------------------------- */
/* //////////// SERVICES /////////// */
/* --------------------------------- */

/********* Technology services ******** */

.techservices-header {
    width: auto;
    height: 300px;
    background-color: #1A1E41;
    border-bottom-left-radius: 100% 300px;
    border-bottom-right-radius: 100% 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.techservices-header h1{
    width: auto;
    font-size: 60px;
    padding-top: 12px;
    color: #fff;
}

.techservices-header p{
    width: auto;
    margin: -5px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
    color: #fff;
}

/* custom-product-dev */

.custom-product-dev{
    width: auto;
    height: auto;
    padding: 15px;
    background-color: #1A1E41;
    padding-bottom: 55px;
}

.services-sub-subsections-title{
    color: #fff;
    font-weight: 400;
    font-size: 35px;
    padding-top: 15px;
    text-align: center;
}

.services-sub-subsections-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-wrapper{
    padding: 5% 8%;
}

.service-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 42px;
    gap: 30px;
}

.service-card{
    height: auto;
    width: 400px;
    background-color: #2e346b;
    padding: 3% 8%;
    border-radius: 8px;
}

.service-card h2{
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
}

.service-card p{
    color: #bbb;
    text-align: left;
    width: 100%;
    margin: 20px 0;
}

.service-card:hover{
    background: linear-gradient(90deg,#007ec2,#7482ff);
    transform: translateY(-8px);
}

.service-card:hover p{
    color: #fff;
}

.service-card:hover h2{
    color: #1A1E41;
}

/* R&D Programs */

.rd-programs .services-sub-subsections-title
{
    color: #1A1E41;
    font-weight: 500;
}

.rd-programs{
    width: auto;
    height: auto;
    padding: 20px;
    padding-bottom: 55px;
}

/* hosting-data-manag */

.hosting-data-manag{
    width: auto;
    height: auto;
    padding: 15px;
    background-color: #1A1E41;
    padding-bottom: 55px;
}

@media (max-width: 1200px){
    .service-cards{
        grid-template-columns: repeat(2,1fr);
    }
}

/*  Client Section  */

.clients{
    width: auto;
    height: auto;
    display: grid;
    place-items: center;
    padding-bottom: 40px;
}

.client-wrap{
    width: 90%;
    height: auto;
    text-align: center;
}
.client-wrap h1{
    font-size: 35px;
    color: #007ec2;
    padding: 30px;
    padding-top: 70px;
    justify-content: center;
}

.clients-in{
    width: 100%;
    height: auto;
}

.clients-in ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.clients-in ul li{
    display: inline-block;
    width: 150px;
    height: 100px;
    position: relative;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.clients-in ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Link Section */

.link-same-page{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.link-same-page h1{
    color: #007ec2;
}
.section-link{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 8%;
    padding: auto;
    border: 1px solid #007ec2;
    padding: 20px;
}

.section-link a{
    text-decoration: none;
    justify-content: center;
    color: #777;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
}

.section-link:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.section-link:active {
    transform: translateY(0);
}

.prog-manag-services {
    width: auto;
    height: auto;
    padding: 15px;
    padding-bottom: 55px;
}

.prog-manag-services .services-sub-subsections-title{
    color: #1A1E41;
}

@media (max-width: 700px){
    .service-cards{
        grid-template-columns: repeat(1,1fr);
    } 

    .service-card{
        height: auto;
        width: auto;
        background-color: #2e346b;
        padding: 3% 8%;
        border-radius: 8px;
    }

    .techservices-header h1{
        width: auto;
        font-size: 30px;
        padding-top: 12px;
        color: #fff;
    }
    
    .techservices-header p{
        width: auto;
        margin: -5px 0; /* Adjust margin to reduce space between h1 and p */
        font-size: 15px;
        color: #fff;
    }

    .client-wrap{
        width: 80%;
        height: auto;
        text-align: center;
    }

    .client-wrap h1{
        font-size: 30px;
        color: #007ec2;
        padding: 10px;
        margin-left: -30px;
        padding-top: 70px;
        justify-content: center;
    }

    .clients-in {
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 5 columns */
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }

    .clients-in ul{
        width: auto;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }

    .clients-in ul li{
        display: flex;
        flex-direction: row;
        width: 90px;
        height: 40px;
        position: relative;
        cursor: pointer;
        margin: 10px;
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .link-same-page{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .link-same-page h1{
        font-size: 30px;
    }


}

/* ------------------------------------------------- */
/* ///////////////// TECHNOLOGIES ////////////////// */
/* ------------------------------------------------- */


/* This part will probably not be used, it represents the
technology page which doesn't exist anymore, jump directly to keystone */

.technologies-header{
    width: 90%;
    color: #1A1E41;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.technologies-header h1{
    font-size: 62px;
}

.technologies-header p{
    width: 90%;
}

/* Proposed technologies */

.proposed-technologies{
    min-height: 740px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding-top: 360px;
    padding-bottom: 70px;
}

.technologies-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}

.technologies-cards a{
    text-decoration: none;
}

.technology-card{
    height: 280px;
    width: 380px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
}

.technology-card::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #007ec2;
    /* transform: rotate(10deg); */
    transform: rotate(0deg);
    z-index: -1;
    transition: all 0.5s ease;
}

.technology-card:hover.technology-card::before{
    transform: rotate(5deg);
}

.technology-card h1{
    text-decoration: none;
    font-size: 2rem;
    color: #007ec2;
    margin: 30px;
    margin-bottom: 9px;
    text-align: left;
}

.technology-card p{
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

@media (max-width: 700px){
    .technologies-header h1{
        font-size: 40px;
    }

    .technologies-header p{
        width: 90%;
    }

    .technologies-cards{
        display: table-column;
        justify-content: center;
        align-items: center;
    }

    .technology-card{
        width: 90%;
        margin: 20px;

    }
}

/************** KEYSTONE  ************ */

.keystone-header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(220, 231, 255, 0.714),rgba(225, 231, 255, 0.7)),url(/images/Headers/myriam-jessier-eveI7MOcSmw-unsplash.jpg);
    background-position: center;
    background-size:cover;
    /* top: 30%;
    left: 50%; */
    
}

.keystone-header img{
    margin-top: 150px;
    margin-left: 70px;
}

.keystone-header p{
    font-size: medium;
    color: #1A1E41;
    margin-top: 20px;
    margin-left: 60px;
    width: 40%;
}

.Keystone-explanation{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;

    padding-bottom: 300px;
}

.keystone-statistics{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

@media (max-width: 700px){
    .keystone-header img{
        margin-top: 150px;
        margin-left: 40px;
        width: 270px;
    }
    
    .keystone-header p{
        font-size: medium;
        color: #1A1E41;
        margin-top: 20px;
        margin-left: 30px;
        width: auto;
    }
}

/* ********* SKYE *********** */

.skye-header{
    min-height: 75vh;
    width: 100%;
    background-color: #1A1E41;
    background-position: center;
    background-size:cover;
}

.skye-header img{
    margin-top: 140px;
    margin-left: 70px;
}

.skye-header p{
    font-size: medium;
    color: #fff;
    margin-top: 20px;
    margin-left: 60px;
    width: 40%;
}

.technologies-sub .first-section-col{
    background: #2e346b;
}

.technologies-sub .first-section-col h3{
    color: #fff;
}

.technologies-sub .esg-boxes p{
    color: #fff;
    font-weight: 200;
}

.technologies-sub .fa-percent{
    color: #fff;
}

@media (max-width: 700px){
    .skye-header img{
        margin-top: 140px;
        margin-left: 40px;
        width: 250px;
    }
    
    .skye-header p{
        font-size: medium;
        color: #fff;
        margin-top: 20px;
        margin-left: 30px;
        width: auto;
    }
}

/* *********** Anima *********** */

.anima-header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 23, 73, 0.8),rgba(225, 231, 255, 0.1)),url(/images/Headers/geometric-1732847_1280.jpg);
    background-position: center;
    background-size:cover;
}

.anima-header h1{
    width: 60%;
    font-size: 100px;
    padding-top: 100px;
    padding-left: 70px;
    color:#1fff ;
}

.anima-header p {
    width: 60%;
    padding-left: 74.5px;
    margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
    color: #fff;
}

@media (max-width: 700px){
    .anima-header h1{
        width: auto;
        font-size: 70px;
        padding-top: 100px;
        padding-left: 40px;
        color:#1fff ;
    }
    
    .anima-header p {
        width: auto;
        padding-left: 44.5px;
        margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
        font-size: 18px;
        color: #fff;
    }
}

/* ********* NEXT + *********** */

.nextplus-header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 23, 73, 0.8),rgba(225, 231, 255, 0.1)),url(/images/Headers/keyboard-5017973_1280.jpg);   
    background-position: bottom;
    background-size:cover;
}

/* .nextplus-header hr{
    border: 3px solid #007ec2;
}  */

.nextplus-header h1{
    width: 60%;
    font-size: 100px;
    padding-top: 120px;
    padding-left: 70px;
    color:#1fff ;
}

/* .nextplus-header img{
    margin-top: 150px;
    margin-left: 70px;
} */

.nextplus-header p {
    width: 60%;
    padding-left: 74.5px;
    margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
    /* color: #1A1E41;
    margin-top: 40px; */
    color: #fff;
}

@media (max-width: 700px){
    .nextplus-header h1{
        width: 60%;
        font-size: 80px;
        padding-top: 120px;
        padding-left: 40px;
        color:#1fff ;
    }
    
    .nextplus-header p {
        width: 60%;
        padding-left: 44.5px;
        margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
        font-size: 18px;
        /* color: #1A1E41;
        margin-top: 40px; */
        color: #fff;
    }
}

/* ******** Architecture ********* */

.architecture-header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 23, 73, 0.8),rgba(225, 231, 255, 0.1)),url(/images/Headers/software-657188_1280.jpg);
    background-position: center;
    background-size:cover;
}

.architecture-header h1{
    width: 60%;
    font-size: 100px;
    padding-top: 120px;
    padding-left: 70px;
    color:#1fff ;
}

.architecture-header p {
    width: 60%;
    padding-left: 74.5px;
    margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
    color: #fff;
}

@media (max-width: 700px){
    .architecture-header h1{
        width: auto;
        font-size: 50px;
        padding-top: 120px;
        padding-left: 40px;
        color:#1fff ;
    }
    
    .architecture-header p {
        width: auto;
        padding-left: 44.5px;
        margin: -10px 0; /* Adjust margin to reduce space between h1 and p */
        font-size: 18px;
        color: #fff;
    }
}


/* ---------------------------------------- */
/*//////////////// PARTNERS ////////////////*/
/* ---------------------------------------- */

.partners-header {
    display: flex;
    justify-content: space-between; /* Ensure space between text and image */
    /* border-bottom: solid 4px #ffd6e2; */
    height: 550px;
}

.partners-text h1{
    width: 100%;
    font-size: 60px;
    padding-left: 150px;
    padding-top: 200px;
}

.partners-text p{
    width: 100%;
    padding-left: 153px;
    margin: -5px 0; /* Adjust margin to reduce space between h1 and p */
    font-size: 18px;
}

.partners-header img{
    width: 700px;
    height: 700px;
    display: flex;
    object-fit:contain;
    padding: 40px;
    margin-top: -45px;
}

.page-divider {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    background-color: #ffd6e2;
    padding: 20px 20px 50px 20px;
}

.partner-type-one {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 700px;
}

.partner-type-two {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px; 
    height: 700px;
}

.partner-type-one h2, .partner-type-two h2{
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
}

.partner-type-one p, .partner-type-two p{
    margin-top: 10px;
    padding-left: 40px;
}

/* ****** B2B Partners ***** */
.b2b-container .page-divider{
    background-color: #fce0af;
}

/* ****** B2G Partners ***** */
.b2g-container .page-divider{
    background-color: #007ec2;
}

.b2gTitle{
    color: #007ec2;
}

/* ******* Academic Partners ****** */
.academic-part-container .page-divider{
    background-color: #7482ff;
}


/* --------------------------------- */
/* //////////// company PAGE ////////////*/
/* --------------------------------- */


/* ********** About Us ********* */

.aboutus-header{
    width: 100%;
    height: 100px;
    margin-bottom: 250px;
}
.circle{
    width:35vw;
    height: 35vw;
    border-radius: 50%;
    position: absolute;
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    z-index: -100;
}

.left {
    left: -20vw;
    background-color: #bbb;
}

.right {
    right: -20vw;
    background-color: #007ec2;
}

.aboutus-header-text{
    width: 90%;
    color: #1A1E41;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.aboutus-header h1{
    font-size: 62px;
}

.our-offices{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.office-col{
    flex-basis: 22%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 10px;

    aspect-ratio: 1/1;
}

.office-col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.country-layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.country-layer:hover{
    background-color: #ffffff97;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.country-layer h3 , .country-layer p{
    width: 100%;
    color: #1A1E41;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.country-layer:hover h3{
    font-weight: 500;
    font-size: 26px;
    bottom: 49%;
    opacity: 1;
}

.country-layer:hover p{
    bottom: 39%;
    opacity: 1;
}

.vision {
    text-align: center;
    margin-top: 100px;
}

.vision-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: flex-start;
    justify-content: center;
}

.vision-content{
    height: 460px;
    background: #2e346b;
    padding: 30px;
    max-width: 45.8%;
}

.vision-pic img {
    width: 100vh;
    height: 460px;
}

.vision-content h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}

.vision-content p {
    font-weight: 300;
    font-size: 15px;
    color: #fff3f3;
    line-height: 1.6;
}

.mission {
    text-align: center;
    margin-top: -6px;
}

/* ********** News Center ********* */

/* .arc {
    width: 100%;
    height: 55vh;
    background: linear-gradient(rgba(0,23,73,0.8), rgba(225, 231, 255, 0.1)), url('/images/Headers/absolutvision-WYd_PkCa1BY-unsplash.jpg');
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 100% 50vh;
    border-bottom-right-radius: 100% 50vh;
}

.news-header{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.news-header h1{
    width: 50%;
    font-size: 100px;
    margin: 10px 0;
    color: #1A1E41;
}

.news-header p{
    width: 50%;
    margin-top: -20px; /* Adjust margin to reduce space */
    /*font-size: 16px;
} */

/* Year Selector Styles */
.year-selector {
    margin: 20px 0;
    text-align: center;
}

.year-selector select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

/* Popup Styles */
.news-popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.news-popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    text-align: left;
}

.news-popup-content img {
    max-width: 100%;
    border-radius: 8px;
    margin: 20px 0;
}

.news-popup-content h2 {
    margin-top: 0;
    font-size: 2em;
}

.news-popup-content p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

.news-popup .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.news-popup .close:hover,
.news-popup .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.arc {
    width: 100%;
    height: 55vh;
    background: linear-gradient(rgba(0,23,73,0.8), rgba(225, 231, 255, 0.1)), url('/images/Headers/absolutvision-WYd_PkCa1BY-unsplash.jpg');
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 100% 50vh;
    border-bottom-right-radius: 100% 50vh;
}

.news-header {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.news-header h1 {
    width: 50%;
    font-size: 100px;
    margin: 10px 0;
    color: #1A1E41;
}

.news-header p {
    width: 50%;
    margin-top: -20px; /* Adjust margin to reduce space */
    font-size: 16px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
}

.news-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-description {
    padding: 15px;
}

.news-description h2 {
    margin: 0;
    font-size: 1.5em;
}

.news-description p {
    margin: 10px 0 0;
    color: #555;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
}

.pagination a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .news-header h1 {
        width: auto;
        font-size: 80px;
        margin: 10px 0;
        color: #1A1E41;
    }

    .news-header p {
        width: 50%;
        margin-top: -20px; /* Adjust margin to reduce space */
        font-size: 16px;
    }
}

/* .news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
}

.news-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-description {
    padding: 15px;
}

.news-description h2 {
    margin: 0;
    font-size: 1.5em;
}

.news-description p {
    margin: 10px 0 0;
    color: #555;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
}

.pagination a:hover {
    text-decoration: underline;
}

@media (max-width: 700px){
    .news-header h1{
        width: auto;
        font-size: 80px;
        margin: 10px 0;
        color: #1A1E41;
    }
    
    .news-header p{
        width: 50%;
        margin-top: -20px; /* Adjust margin to reduce space */
       /* font-size: 16px;
    }
} */

/************* Organizational Values *************/

.OrgValues-header .aboutus-header-text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.OrgValues-header .aboutus-header-text p{
    color: #f1f1f1;
}

.values-arc{
    width: 100%;
    height: 40vh;
    background: #007ec2;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 100% 50vh;
    border-bottom-right-radius: 100% 50vh;
}

.values-ethics-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 20px;
}

.values-ethics-content {
    flex-basis: 60%;
    padding-right: 20px;
    padding-left: 120px;
}

.values-ethics-content h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 70px;
    color: #fff;
    background-color: #2e346b;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.values-ethics-content p {
    font-size: 1.1rem;
    color: #34495e;
    margin-bottom: 10px;
}

.values-ethics-content ul {
    list-style: none;
    padding-left: 0;
}

.values-ethics-content ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #34495e;
}

.values-ethics-content ul li strong {
    color: black;
    padding-left: 80px;
}

.values-ethics-img {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}

.values-ethics-img img {
    max-width: 500px;
    height: 500px;
}

/* Media Queries */
@media (max-width: 768px) {
    .values-ethics-container {
        flex-direction: column;
    }

    .values-ethics-content {
        padding-right: 0;
    }
}



/* ----------------------------------- */
/* //////////// CONTACT US /////////// */
/* ----------------------------------- */

.contactus-form-page{
    width: 100%;
    height: 100vh;
    /* background: url(/images/ContactUsBackground.jpg);*/
    /* background: linear-gradient(30deg, #1A1E41, #007BFF, #1fff); */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

form{
    margin-top: 100px;
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #2e346b;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f1f1f1;
    border-radius: 5px;
    font-size: 16px;
}

form button{
    padding: 10px;
    background: transparent;
    color: #007ec2;
    font-weight: 450;
    font-size: 18px;
    border: 2px solid #007ec2;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

form button:hover{
    color: #fff;
    background: #007ec2;
}

.company-info {
    width: 45%; /*width for the map*/
    /* background: #fff; */
    padding: 2vw 4vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#map {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    margin-bottom: 20px;
    border-radius: 10px;
    background: #e0e0e0; /* Placeholder background, replace with map */
}

.contact-details {
    text-align: center;
}

.contact-details p {
    margin: 10px 0;
    color: #333;
    font-size: 16px;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #007ec2;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}






