/* :root {
    --red: #f9032f;
    --black: #000;
    --white:#fff;
} */

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/*/////////// HEADER ///////////*/

/* HEADER CSS */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(5, 11, 38, 0.055),rgba(4,9,30,0.7)),url(images/technology-6701504.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
}

.navigation_bar {
    background-color: rgba(255, 255, 255);  /*0.833*//* Transparent white */
    padding: 15px 25px; 
    position: fixed; 
    width: 100%; /* Full width */
    top: 0; 
    left: 0; 
    z-index: 1000; /* Layers/Ensuring it is above other elements */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Optional shadow for better visibility */
    border-bottom: 1px solid #ccc;
}

/*Logo*/
nav img{
    width: 150px;
    padding-right: 20px;
}

.navbar_menu{
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}



.navbar_link{
    flex: 1;
    text-align: left;
    padding-left: 0.3cm; 
    color: #007ec2;
    text-decoration: none;
    display: inline-block;
}

.navbar_link_dropdown{
    flex: 1;
    text-align: left;
    padding-left: 0.3cm; 
    color: #007ec2;
    text-decoration: none;
    display: inline-block;
}

.navbar_link::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #007ec2;
    display: block;
    margin: auto;
    transition: 0.5s;
}
 
.navbar_link:hover::after{
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    padding: 50px; 
}

.dropdown-content a {
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: 300;
    color:#1A1E41;
    border-radius: 9px;
    width: 100%;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background: #007ec2;
    color: #fff;
}

.navbar_link_dropdown:hover .dropdown-content {
    display: block;
}

/* NAVBAR DETAILS SECTION DESIGN CSS */

.menu-dropdown-column{
    width: 30%;
    padding: 0 15px;
}

.menu-dropdown-row{
    display: flex;
    flex-wrap: wrap;
}

.nav-vertical-line{
    border-left: 1px solid #007ec2;
    height:auto;
}

.nav-details {
    display: none;
    width: 100%;
}

.nav-details header{
    font-size: 25px;
    margin-left: 10px;
    color: #1A1E41;
    font-weight: 400;
}

.nav-details p{
    width: 100%;
}
.nav-details.active {
    display: block;
}
/* Contact Button */

.contactbutton-container{
    margin-right: 0;
    padding-right: 15px;
}

.contact_button {
    background-color: transparent; 
    color: #007ec2; 
    padding: 10px 20px; /* Button padding */
    text-decoration: none; /* to Remove underline */
    border: 2px solid #007ec2;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth background transition */
}

.contact_button:hover {
    background-color: #007ec2;
    color: #fff;
}
 /* TOP OF THE HERO SECTION */
.text_box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.text_box h1{
    font-size: 62px;
    margin: 10px 0 40px;
}

.hero_btn{
    text-decoration: none;
    background-color: #fff;
    color: #007ec2;
    font-size: 13px;
    cursor: pointer;
    padding: 10px 20px; /* Button padding */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s ease;
    position: relative;
}

.hero_btn:hover {
    background-color: #007ec2;
    color: #fff;
}

.menu-icon {
    display: none;
}

.close-icon {
    display: none;
}

@media(max-width: 700px){
    .text_box h1{
        font-size: 40px;
    }
    .navbar_menu {
        display: block;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        background: #007ec2;
        z-index: 100;
        padding-top: 10px; 
        text-decoration: none;
        transition: 1s;
        padding: 20px;
    }

    .navbar_menu.active{
        right: 0;
    }

    .dropdown-content{
        top: 60px;
    }

    .navbar_link {
        display: block;
        color: #fff;
        padding: 15px;
        text-align: left;
        text-decoration: none;
        transition: 1s;
    }
   
    .close-icon{
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        top: 15px;
        right: 15px;
        z-index: 3;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #007ec2;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 3;
    }

    /* FIXING THE MENU BAR FOR MOBILE */
    .nav-details{
        display: none;
    }

    .nav-vertical-line{
        display: none;
    }

    .menu-dropdown-column{
        width: 100%;
        padding: 1px;
    }

    .dropdown-content {
        width: 100%;
        padding: 12px; 
    }    
}

/* SERVICES OFFERED: HERO PAGE */

.something-offered{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.first-section-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.first-section-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* 2nd section : Hero page */

.second-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.second-section-col{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 3 / 4;
}

.second-section-col img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 3 / 4; /* Height is greater than width */
}

.layer{
    background-color: #007ec29f;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background-color: rgba(255, 255, 255, 0.752);
}

.layer h3{
    color: #fff;
    margin-top: 10%;
    transition: 0.5s;
}

.layer:hover h3{
    color: #1A1E41;
}

.layer p{
    color: #fff;
    transition: 0.5s;
}

.layer:hover p{
    color: #1A1E41;
}

/* Partners section: hero page */

.partners-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.logos-slider {
    overflow-x: hidden;
    padding-top: 50px;
}

.overflow {
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
}

.logos-wrapper{
    display: flex;
    justify-content: space-around;
    animation: LogoLoop 50s linear infinite;
}

.logo-item{
    margin-left: 1rem;
    padding: 1rem;
    aspect-ratio: 30/9;
    display: grid;
    place-items: center;
    border-radius: 1rem;
}

.logo-item img{
    height: 1.5rem;
    margin-inline: 2rem;
}

@keyframes LogoLoop {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Third section: Home page */

.third-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.third-section-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.third-section-col img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* Testimonials : Home page */

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.testimonials-col{
    flex-basis: 44%; /*it kind of represents the width of the column, 44% was used because we only have 2 columns this time*/
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    aspect-ratio: 1 / 1
}

.testimonials-col p{
    padding: 0;
}

.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}

/* CALL TO ACTION : HOME PAGE */

.cta{
    margin: 100px auto;
    width: 80%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/sirisvisual-bJJRFhq5Iuk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-top: 100px;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.cta .contact_button{
    color: #fff;
    border-color: #fff;
}

.cta .contact_button:hover{
    border-color: #007ec2;
}

/* ///////// FOOTER //////// */

.container{
    max-width: 1170px;
    background-color: #1A1E41;
    margin: auto;
}

/* .row{
    display: flex;
    flex-wrap: wrap;
} */

ul{
    list-style: none;
}

.footer{
    background-color: #1A1E41;
    padding: 10px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff ;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a{
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb ;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #007ec2;
}

.logo{
    width: 200px;
}

.social-container{
    width: 200px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.833);
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #1A1E41;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: rgba(255, 255, 255, 0.833);
    background-color: #007ec2;
}

.continuation{
    margin-top: 63px;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 30px auto;
}

.copyrights{
    text-align: center;
    color: rgba(255, 255, 255, 0.833);
    font-weight: 300;
    font-size: 12px;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
    .continuation{
        margin-top: 0px;
    }
}

/* ///////////////// TECHNOLOGY PAGE ////////////////// */

/* header */
.technologies-header{
    width: 90%;
    color: #1A1E41;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.technologies-header h1{
    font-size: 62px;
}

.technologies-header p{
    width: 90%;
}

/* Proposed technologies */

.proposed-technologies{
    min-height: 740px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding-top: 360px;
    padding-bottom: 70px;
}

.technologies-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}

.technologies-cards a{
    text-decoration: none;
}

.technology-card{
    height: 280px;
    width: 380px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
}

.technology-card::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #007ec2;
    /* transform: rotate(10deg); */
    transform: rotate(0deg);
    z-index: -1;
    transition: all 0.5s ease;
}

.technology-card:hover.technology-card::before{
    transform: rotate(5deg);
}

.technology-card h1{
    text-decoration: none;
    font-size: 2rem;
    color: #007ec2;
    margin: 30px;
    margin-bottom: 9px;
    text-align: left;
}

.technology-card p{
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

@media (max-width: 700px){
    .technologies-header h1{
        font-size: 40px;
    }

    .technologies-header p{
        width: 90%;
    }

    .technologies-cards{
        display: table-column;
        justify-content: center;
        align-items: center;
    }

    .technology-card{
        width: 90%;
        margin: 20px;

    }
}

.keystone-header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(220, 231, 255, 0.714),rgba(225, 231, 255, 0.7)),url(/images/myriam-jessier-eveI7MOcSmw-unsplash.jpg);
    background-position: center;
    background-size:cover;
    /* top: 30%;
    left: 50%; */
    
}

.keystone-header img{
    margin-top: 150px;
    margin-left: 70px;
}

.keystone-header p{
    font-size: medium;
    color: #1A1E41;
    margin-top: 20px;
    margin-left: 60px;
    width: 40%;
}

.Keystone-explanation{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;

    padding-bottom: 300px;
}

.keystone-statistics{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}




